# Media Hub & App Config
NEXT_PUBLIC_COMPANY_ID=your_company_id_here
NEXT_PUBLIC_API_URL=https://your-api-endpoint.azurewebsites.net/
NEXT_PUBLIC_FORM_SUBMIT_EMAIL=info@example.com

# Site Verification Tokens
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_google_verification_token
NEXT_PUBLIC_BING_SITE_VERIFICATION=your_bing_verification_token


# SMTP Configuration
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_smtp_app_password
